<section class="layout">
  <div class="container">
    <h1>{{ title }}</h1>
    <firstapp-travel-list #tc="timeCounter" TimeCounter />
    <div class="d-flex justify-content-between">
      Cumul : {{ tc.cumul }}
      <div class="d-flex gap-3">
        <button class="btn btn-primary" (click)="tc.reset()">Maz du cumul</button>
        <button class="btn btn-primary" (click)="resetCumul()">Maz du cumul (depuis AppComponent)</button>
      </div>
    </div>

    <p class="mt-5 mb-2">Compteur : {{ nombre }}</p>
    <firstapp-number-editor [(value)]="nombre" [min]="0" [max]="20" />


    <firstapp-two-cols>
      <div role="col1">Contenu de col 1</div>
      <div role="col2">Contenu de col 2</div>
    </firstapp-two-cols>
  </div>
</section>
