<p>page-travel-edit works!</p>

<!-- travelSign va automatiquement maj le contenu du if si la valeur contenue est modifiée -->
@if(travelSignal(); as travel){
  <form #formModel="ngForm" (ngSubmit)="validate()">
    <div class="form-gorup">
      <label>libelé</label>
      <input #labelModel="ngModel" required
      minlength="5"
      name="label"
      [(ngModel)]="travel.label" class="form-control" type="text">
    </div>
    <firstapp-validation [model]="labelModel" />
    <hr>
    <div class="d-flex">
      <button class="btn btn-primary" [disabled]="formModel.invalid">Valider</button>
    </div>
  </form>
}
